.contacts {
  background-image: linear-gradient(to bottom, #ffffff 7%, #fff5f6 7%, #fff5f6 100%);
  padding-top: 43px;
  padding-bottom: 103px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 15%, #fff5f6 15%, #fff5f6 100%);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #ffffff 17%, #fff5f6 17%, #fff5f6 100%);
  }
}

.contacrs__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contacts__item {
  width: 220px;
  height: 427px;
  background-color: #ffffff;
  padding: 43px 21px 43px 20px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    height: 544px;
    padding: 50px 44px 50px 31px;
    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 330px;
    height: 572px;
    padding: 51px 44px 62px 43px;
    &:not(:last-child) {
      margin-right: 31px;
    }
  }
}

.contacts__box--cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    width: 73px;
    height: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.contacts__box--food {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 16px;
  background-color: #c2e297;
  border-radius: 4px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    width: 138px;
    height: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.contacts__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contacts__subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 25px;

    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.contacrs__list--working {
  margin-bottom: 25px;

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 25px;

    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.contacrs__item--working {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.contacts__day {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-button__list {
  margin-top: 54px;
  @media screen and (min-width: 768px) {
    margin-top: 81px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 86px;
  }
}

.contacts-button__item {
  display: flex;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 15px;
    }
  }
}

.contacts-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  width: 161px;
  height: 44px;
  background: #d41443;
  border-radius: 22px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 191px;
  }
}

.contacts-button:hover {
  background-color: #c7133e;
  color: #ffffff;
}

.contacts-button::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform: rotate(45deg);
  border-radius: 2px;
  margin-left: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button:hover::after {
  transform: rotate(225deg);
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

/* .button-one {
  margin-top: 54px;
} */

.button-two {
  background-color: #ffffff;
  color: #d41443;
}

.button-two:hover {
  background-color: #ecebeb;
  color: #d41443;
}

.button-two::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #d41342;
  border-top: 2px solid #d41342;
  transform: rotate(45deg);
  border-radius: 2px;
  margin-left: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-two:hover::after {
  transform: rotate(225deg);
  border-right: 2px solid #d41443;
  border-top: 2px solid #d41443;
}
