

.customer-reviews__picture > img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.customer-reviews__div-text {
  position: relative;
  padding: 47px 89px 39px 87px;
  max-width: 926px;
  margin: 0 auto;
  background: #FAFAFA;
}



.customer-reviews__div-text::before {
  content: url(../images/CustomerReviews/CustomerReviews4_png_desktop.png);
  position: absolute;
  left: 51px;
  top: 35px;
}

.customer-reviews__text {
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  background-image: repeating-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0) 29px,#e1e1e1 0,#e1e1e1 30px);
  letter-spacing: .04em;
}

.customer-reviews__name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  position:  relative;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 35px;
}

.customer-reviews__name::before {
  content: '. . .';
  color: #C7133E;
  display: flex;
  justify-content: center;
}

.customer-reviews__filling{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customer-reviews__section {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  content: url(../images/CustomerReviews/Vector.png);
  display: inline-block;
  background: transparent;
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  border-radius: 0%;
  }

