.customer-reviews__picture > img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.customer-reviews__div-text {
    padding: 32px 50px;
  max-width: 926px;
margin: 0 auto;
background: #FAFAFA;
margin-bottom: 34px;
}

.customer-reviews__text {
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.86;
text-align: center;
    color: #000000;
    background-image: repeating-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0) 29px,#e1e1e1 0,#e1e1e1 30px);
    letter-spacing: .04em;
}

/* .customer-reviews__filling::before {
  margin-right: 16px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/599/599502.png");
} */

.customer-reviews__name {
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.86;
text-align: center;
position:  relative;
color: #000000;
margin: 0 auto;
}

.customer-reviews__name::before {
  content: '. . .';
  position: absolute;
  color: aqua;
  display: inline-block;
  top: -44px;
  left: 71px;
}