.gallery {
  padding-bottom: 40px;
  padding-top: 10px;
  @include mq(tablet) {
    padding-bottom: 60px;
  }

  background-image: linear-gradient(
    to bottom,
    #FFF5F6 60%,
    #fff 50%,
  );
}
.gallery__list {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  --item-size: 30px;
  padding-top: var(--item-size);
  padding-left: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, var(--item-size));
  @media (min-width: 360px) {
    --item-size: 40px;
    max-width: 340px;
  }
  @include mq(tablet-only) {
    --item-size: 85px;
    max-width: 100%;
  }
  @include mq(desktop) {
    --item-size: 140px;
    max-width: 100%;
  }
}
.gallery-item--big {
  grid-column: 3 / 5;
  grid-row: 1 / 6;
}
.gallery__item--column1 {
  grid-column: 1 / 2;
}
.gallery__item--column2 {
  grid-column: 2 / 3;
}
.gallery__item--column3 {
  grid-column: 3 / 4;
}
.gallery__item--column5 {
  grid-column: 5 / 6;
}
.gallery__item--column6 {
  grid-column: 6 / 7;
}
.gallery__item--column7 {
  grid-column: 7 / 8;
}
.gallery-item--row2-4 {
  grid-row: 2 / 4;
}
.gallery-item--row3-5 {
  grid-row: 3 / 5;
}
.gallery-item--row4-6 {
  grid-row: 4 / 6;
}
.gallery-item--row5-7 {
  grid-row: 5 / 7;
}
.gallery-item--row6-8 {
  grid-row: 6 / 8;
}
.gallery__img {
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1) translateX(0);
  transition: transform 250ms ease-in-out;
  &:hover,
  &:focus {
    position: relative;
    z-index: 999;
    outline: none;
    box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);
    transform: scale(1.3) translate(-10px, -10px);
  }
}
