.header{
   display: block;
    width: 100%;
  
    background-color: #FFB8CA;
    
}

.header__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  @media screen and (min-width: 480px) {
    min-width: 480px;
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header__menu{
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
 
  }
}

.header__button,
.mob_button {
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #D41443;
border: none;
width: 209px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
text-align: center;
}


.header__button{
  display: none;
   @media screen and (min-width: 768px) {
   display: block;
   width: 186px;
  }
}

.header__button:hover,
.mob_button:hover{
    background-color: #ECEBEB;
}

.header__button::after,
.mob_button::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #D41443;
    border-top: 2px solid #D41443;
    transform: rotate(45deg);
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button:hover::after,
.mob_button:hover::after{
    transform: rotate(225deg);
}


.header__list{
    display: flex;
}

.header__item{
  &:not(:last-child) {
      margin-right: 35px;
    }
}

.header__link{
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.3px;
color: #fff;
}
.content{
 padding-top: 65px;
}

.header__burger{
    display: none;
}
@media screen and (max-width: 1199px) {
     .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 25px;
      z-index: 50;

     &::before,
     &::after{
         content: '';
         background-color: #D41443;
         position: absolute;
         width: 100%;
         height: 3px;

     }

    &:before{
      top: 0;
    }

    &:after{
      bottom: 0;
    }
    }
 }

 .header__burger.is-hidden{
   position: fixed;
      right: 20px;
    &:before{
      transform: rotate(45deg);
      top: 9px;
       background-color: #fff;
    }

    &:after{
      transform: rotate(-45deg);
      bottom: 12px;
       background-color: #fff;
    }
 }

.burger{
  @media screen and (max-width: 1199px){
      background-color: #D41443;
      position: absolute;
      width: 100%;
      height: 3px;
       left: 0;
      top: 10px;
      
      
    &.is-hidden{
     transform: scale(0);
    }
    }

}


