
.header{
   display: block;
    width: 100%;
  
    background-color: #FFB8CA;
    
}

.header__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  @media screen and (min-width: 480px) {
    min-width: 480px;
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header__wrapper{
   @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
   
  }
}

.header__menu{
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 110px;
  }
}

.header__button,
.mob_button {
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #D41443;
border: none;
width: 209px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
text-align: center;
}


.header__button{
  display: none;
   @media screen and (min-width: 768px) {
   display: block;
   width: 186px;
  }
}

.header__button:hover,
.mob_button:hover{
    background-color: #ECEBEB;
}

.header__button::after,
.mob_button::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #D41443;
    border-top: 2px solid #D41443;
    transform: rotate(45deg);
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button:hover::after,
.mob_button:hover::after{
    transform: rotate(225deg);
}


.header__list{
    display: flex;
}

.header__item{
  &:not(:last-child) {
      margin-right: 35px;
    }
}

.header__link{
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.3px;
color: #fff;
}
.content{
 padding-top: 65px;
}

.header__burger{
    display: none;
    
}
@media screen and (max-width: 1199px) {
     .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 25px;
      z-index: 50;
      margin-right: 30px;
     &::before,
     &::after{
         content: '';
         background-color: #D41443;
         position: absolute;
         width: 100%;
         height: 3px;

     }

    &:before{
      top: 0;
    }

    &:after{
      bottom: 0;
    }
    }
 }

 .header__burger.is-hidden{
   position: fixed;
   right: 20px;
   

    &:before{
      transform: rotate(45deg);
      top: 9px;
       background-color: #fff;
       transition: transform .3s;
    }

    &:after{
      transform: rotate(-45deg);
      bottom: 12px;
       background-color: #fff;
       transition: transform .8s;
    }
 }

.burger{
  @media screen and (max-width: 1199px){
      background-color: #D41443;
      position: absolute;
      width: 100%;
      height: 3px;
       left: 0;
      top: 10px;
      
      
    &.is-hidden{
     transform: scale(0);
    }
    }

}


.container__header {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.background-header {
  background-color: #ffb8ca;
}

.header__hero {
  padding-top: 135px;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 171px;
    padding-left: 115px;
  }
}

.header__title {
  padding-left: 20px;
  width: 218px;

  font-family: Titan One;
  font-style: normal;

  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 21px;
  z-index: 4;
  position: relative;
  @media screen and (min-width: 1200px) {
    padding-left: 0px;
  }
}

.header__span {
  color: #d41443;
  font-size: 48px;
  margin-top: 10px;
}

.header__buttons {
  display: flex;
  padding-left: 20px;
  position: relative;
  z-index: 3;
  @media screen and (min-width: 1200px) {
    padding-left: 0px;
  }
}

.header__btn {
  font-family: DM Sans;
  background: #d41443;
  border-radius: 20px;
  padding: 10px 17px;
  border: none;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  margin-right: 8px;
}

.header__btn--bg {
  background-color: #ffffff;
  color: #d41443;
  margin-right: 0px;
}

.hero__img-circle--mob {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__img-icecream {
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 25px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__img-circle--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 31px;
    right: 115px;
  }
}

.hero__img-icecream--tab {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 60px;
    right: 220px;
  }
}

.hero__box--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: 36px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
    padding-left: 77px;
  }
}

.hero__img-milk--tab {
  margin-top: -30px;
}

.hero__milk--tab {
  display: flex;
  flex-direction: column;
}
.hero__text--tab {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  width: 114px;
  margin-bottom: 7px;
}
.hero__circle--tab {
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
}

.hero__img-cafe--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 80px;
    right: 34px;
  }
}

.hero__img-trucks--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 130px;
    right: 34px;
  }
}

.hero__img-girls--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 295px;
    right: 34px;
  }
}

