.products{
    padding-top: 60px;
    padding-bottom: 49px;
}

.products-container{
    margin-left: auto;
    margin-right: auto;
}

.pre-title{
    font-family: Titan One;
font-style: normal;
font-weight: 400;
font-size: getFont('lable-size-mobile');
line-height: 1.17;
text-align: center;
text-transform: uppercase;
color: getColor('lable-color-text');
margin-bottom: 15px;
@media screen and (min-width: 768px){
    font-size: getFont('pretitle-hero-mobile');
    line-height: 1.15;
    }
    @media screen and (min-width: 1200px){
        font-size: getFont('lable-size-laptop');
        line-height: 1.13;
        }
}

.products_title{
    font-family: Titan One;
font-style: normal;
font-weight: 400;
font-size: getFont('title-secondary-mobile');
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: getColor('title-color-main-text');
margin-bottom: 144px;
@media screen and (min-width: 768px){
    font-size: getFont('title-hero-mobile');
    line-height: 1.15;
    margin-bottom: 150px;
    }
@media screen and (min-width: 1200px){
    font-size: getFont('title-hero-laptop');
    line-height: 1.13;
    margin-bottom: 259px;
    }
}

.icecream_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 768px){
    flex-direction: row;
    flex-wrap: nowrap;
    }
}

.icecream_item{
    border-radius: 24px;
    max-width: inherit;
    padding: 120px 39px 41px 41px;
    &:not(:last-child){
        margin-bottom: 130px;
    }
    @media screen and (min-width: 768px){
        padding: 120px 11px 40px 11px;
        &:not(:last-child){
            margin-right: 20px; 
            margin-bottom: 0;
        }
        }
        @media screen and (min-width: 1200px){
            padding: 120px 45px 50px 44px;
            &:not(:last-child){
                margin-right: 30px; 
            }
            }
}

.cream{
    background-color: getColor('background-hero');
}

.cofee{
    background-color: getColor('background-card-coffee');
}

.milkshakes_item{
    background-color: getColor('background-card-milk');
}

.icecream_title{
    font-family: "Titan One";
font-style: normal;
font-weight: normal;
font-size: getFont('title-card-mobile');
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: getColor('mine-color-text');
margin-bottom: 36px;
padding-top: 30px;
position: relative;
    &::after{
        content: '...';
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
        font-size: getFont('lable-size-laptop');
        line-height: 1.13;
        padding-top: 50px;
    }
}


.icecream::before{
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
    background-image: url('../images/Products/mobail/products1_png.png');
    width: 249px;
    height: 252px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/Products/mobail/products1@2x_png.png');
    }
    @media screen and (min-width: 768px) {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -122%);
    }
    @media screen and (min-width: 1200px) {
        width: 335px;
        height: 335px;
    }
}

.icecoffe::before{
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -115%);
        background-image: url('../images/Products/mobail/products2_png.png');
        width: 249px;
        height: 252px;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/Products/mobail/products2@2x_png.png');
        }
        @media screen and (min-width: 768px) {
            width: 220px;
            height: 226px;
            transform: translate(-50%, -122%);
        }
        @media screen and (min-width: 1200px) {
            width: 335px;
            height: 335px;
        }
}

.milkshakes::before{
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
    background-image: url('../images/Products/mobail/products3_png.png');
    width: 249px;
    height: 252px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/Products/mobail/products3@2x_png.png');
    }
    @media screen and (min-width: 768px) {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -122%);
    }
    @media screen and (min-width: 1200px) {
        width: 335px;
        height: 335px;
    }
}

.icecream_text{
    font-family: DM Sans;
font-style: normal;
font-weight: 700;
font-size: getFont('secondary-size-mobile');
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: getColor('mine-color-text');
margin-bottom: 30px;
max-width: 200px;
margin: 0 auto;
    @media screen and (min-width: 768px){
        display: none;
    line-height: 1.79;
    }
    @media screen and (min-width: 1200px){
        font-size: getFont('samebtn-size-mobile');
        line-height: 1.75;
        }
}

.icecream_text--tablet{
    display: none;
    font-family: DM Sans;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.75;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
max-width: 198px;
margin-bottom: 40px;
    @media screen and (min-width: 768px){
    display: block;
    line-height: 1.79;
    }
    @media screen and (min-width: 1200px){
        font-size: getFont('samebtn-size-mobile');
        line-height: 1.75;
        max-width: 241px;
        margin-bottom: 62px;
        }
}

.icecream-btn{
    background-color: getColor('mine-color-text');
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: auto;
    display: block;
    color: getColor('title-color-main-text');
    margin-top: 30px;
    cursor: pointer;
}

.isecream-btn_icon{
    fill: currentColor;
}

.blink {
    background-color: getColor('mine-color-text');
    border-radius: 100%;
    width: 40px;
    height: 40px;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
  }
  
  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
