<section class="about">
  <div class="about-wrapper container">
    <p class="about-wrapper__pre-title">tradition and love</p>
    <h2 class="about-wrapper__title">how it’s made?</h2>
    <img class="about-wrapper__img" src="" alt="Изображение коровы с графином молока " />
    <div class="text-inner">
      <p class="text-inner__top">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="text-inner__midle">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="text-inner__bottom">Aliquam erat volutpat. Aenean accumsan</p>
    </div>
    <button type="button"></button>
  </div>
</section>
