<section class="advantages " >
    <div class="advantages__container ">
        <h2 class="visually-hidden" id="AboutUs">advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <p class="advantages__number iconFirst">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number iconSecond">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number iconThird">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
    
</section>