<section id="Contact" class="contacts">
  <div class="contacts__background">
    <div class="container contacts__container">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="contacrs__list">
        <li class="contacts__item">
          <div class="contacts__box--cafe">
            <p class="contacts__title">CAFE</p>
          </div>
          <p class="contacts__subtitle">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacrs__list--working">
            <li class="contacrs__item--working">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacrs__item--working">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a class="contacts__link contacts__link--tel" href="tel:+61(0) 383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li class="contacts__item">
          <div class="contacts__box--food">
            <p class="contacts__title">FOODTRUCK</p>
          </div>
          <p class="contacts__subtitle">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacrs__list--working">
            <li class="contacrs__item--working">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacrs__item--working">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a class="contacts__link contacts__link--tel" href="tel:+61(0) 383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>

        <li class="contacts__item">
          <div class="contacts__box--cafe">
            <p class="contacts__title">CAFE</p>
          </div>
          <p class="contacts__subtitle">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacrs__list--working">
            <li class="contacrs__item--working">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacrs__item--working">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a class="contacts__link contacts__link--tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contacts-button__list">
        <li class="contacts-button__item">
          <button
            class="contacts-button button-first js-open-modal"
            data-modal="locations"
            type="button"
          >
            Our Locations
          </button>
        </li>
        <li class="contacts-button__item">
          <button
            class="contacts-button button-last js-open-modal"
            data-modal="franchise"
            type="button"
          >
            Franchise
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
