<section class="customer-reviews__section">
    <div class="container"></div>
    <div class=" swiper mySwiper">
        <div class=" customer-reviews__container swiper-wrapper">
            <div class="customer-reviews__filling swiper-slide">
                <picture class="customer-reviews__picture">
                    <source srcset="images/CustomerReviews/CustomerReviews1_jpg_desktop.jpg   1x,
                                        images/CustomerReviews/CustomerReviews1@2x_jpg_desktop.jpg 2x" />
                    <img src="images/CustomerReviews/CustomerReviews1_jpg_desktop.jpg" alt="довольный клиент" />
                </picture>
                <h2 class="visually-hidden customer-reviews__h2">Отзывы клиентов</h2>
                <div class="customer-reviews__div-text">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus.
                        Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="customer-reviews__name">Emily, Los Angeles</div>
            </div>
            <div class="customer-reviews__filling swiper-slide">
                <picture class="customer-reviews__picture">
                    <source srcset="images/CustomerReviews/CustomerReviews2_jpg_desktop.jpg   1x,
                                        images/CustomerReviews/CustomerReviews2@2x_jpg_desktop.jpg 2x" />
                    <img src="images/CustomerReviews/CustomerReviews2_jpg_desktop.jpg" alt="довольный клиент" />
                </picture>
                <h2 class="visually-hidden customer-reviews__h2">Отзывы клиентов</h2>
                <div class="customer-reviews__div-text">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus.
                        Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="customer-reviews__name">Nicole, Minneapolis</div>
            </div>
            <div class="customer-reviews__filling swiper-slide">
                <picture class="customer-reviews__picture">
                    <source srcset="images/CustomerReviews/CustomerReviews3_jpg_desktop.jpg   1x,
                                        images/CustomerReviews/CustomerReviews3@2x_jpg_desktop.jpg 2x" /><img
                        src="images/CustomerReviews/CustomerReviews3_jpg_desktop.jpg" alt="довольный клиент" />
                </picture>
                <h2 class="visually-hidden customer-reviews__h2">Отзывы клиентов</h2>
                <div class="customer-reviews__div-text">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus.
                        Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="customer-reviews__name">Cameron, Las Vegas</div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination__three-circles"></div>
    </div>
</section>