<footer class="footer">
    <div class="container">
        <p class="footer__text--begin">homemade ice cream</p>
        <p class="footer__text--end">made</p>
        <span class="footer_title">
            with <br>passion
        </span>

        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="https://github.com/">
                    <svg class="footer__icon">
                        <use href="images/svg/symbol-defs.svg#icon-github">
                    </svg>
                </a>
            </li>

            <li class="footer__item">
                <a class="footer__link" href="https://telegram.org/">
                    <svg class="footer__icon">
                        <use href="images/svg/symbol-defs.svg#icon-telegram">
                    </svg>
                </a>
            </li>

            <li class="footer__item">
                <a class="footer__link" href="https://www.facebook.com/">
                    <svg class="footer__icon">
                        <use href="images/svg/symbol-defs.svg#icon-facebook">
                    </svg>
                </a>
            </li>
        </ul>

        <p class="footer_contact">Feel free to contact <a class="footer__tel" href="tel:+61(0)383766284">+61 (0) 383 766
                284</a>
        </p>


        <p class="footer__copyright--begin">© 2019 - IceCream.</p>
        <p class="footer__copyright--end">All Rights Reserved.</p>
    </div>
</footer>