<footer class="footer">
    <div class="container">
        <p class="footer__text">homemade ice cream <br>made</p>
        <span class="footer_title">
            with <br>passion
        </span>

        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="https://github.com/">
                    <svg class="footer__icon">
                        <use href="">
                    </svg>
                </a>
            </li>

            <li class="footer__item">
                <a class="footer__link" href="https://telegram.org/">
                    <svg class="footer__icon">
                        <use href="">
                    </svg>
                </a>
            </li>

            <li class="footer__item">
                <a class="footer__link" href="https://www.facebook.com/">
                    <svg class="footer__icon">
                        <use href="">
                    </svg>
                </a>
            </li>
        </ul>
        
        <p class="footer_contact">Feel free to contact <a class="footer__tel" href="tel:+61(0)383766284">+61 (0) 383 766
                284</a>
        </p>


        <p class="footer__copyright">© 2019 - IceCream. <br>All Rights Reserved.</p>
    </div>
</footer>