<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item gallery__item--column1 gallery-item--row4-6">
                <picture>
                    <source srcset="./images/Gallery/1/img-l.webp 1x, ./images/Gallery/1/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/1/img-l.jpg 1x, ./images/Gallery/1/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/1/img-m.webp 1x, ./images/Gallery/1/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/1/img-m.jpg 1x, ./images/Gallery/1/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/1/img-s.webp 1x, ./images/Gallery/1/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/1/img-s.jpg 1x, ./images/Gallery/1/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/1/img-s.jpg" alt="Icecream on the plate" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column2 gallery-item--row3-5">
                <picture>
                    <source srcset="./images/Gallery/2/img-l.webp 1x, ./images/Gallery/2/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/2/img-l.jpg 1x, ./images/Gallery/2/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/2/img-m.webp 1x, ./images/Gallery/2/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/2/img-m.jpg 1x, ./images/Gallery/2/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/2/img-s.webp 1x, ./images/Gallery/2/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/2/img-s.jpg 1x, ./images/Gallery/2/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/2/img-s.jpg" alt="Pink icecream in a cup" />
                </picture>
            </li>
            <li class="gallery__item gallery-item--big">
                <picture>
                    <source srcset="./images/Gallery/4/img-l.webp 1x, ./images/Gallery/4/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/4/img-l.jpg 1x, ./images/Gallery/4/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/4/img-m.webp 1x, ./images/Gallery/4/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/4/img-m.jpg 1x, ./images/Gallery/4/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/4/img-s.webp 1x, ./images/Gallery/4/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/4/img-s.jpg 1x, ./images/Gallery/4/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/4/img-s.jpg" alt="A lot of icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column5 gallery-item--row3-5">
                <picture>
                    <source srcset="./images/Gallery/6/img-l.webp 1x, ./images/Gallery/6/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/6/img-l.jpg 1x, ./images/Gallery/6/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/6/img-m.webp 1x, ./images/Gallery/6/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/6/img-m.jpg 1x, ./images/Gallery/6/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/6/img-s.webp 1x, ./images/Gallery/6/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/6/img-s.jpg 1x, ./images/Gallery/6/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/6/img-s.jpg" alt="Hand with icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column6 gallery-item--row2-4">
                <picture>
                    <source srcset="./images/Gallery/8/img-l.webp 1x, ./images/Gallery/8/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/8/img-l.jpg 1x, ./images/Gallery/8/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/8/img-m.webp 1x, ./images/Gallery/8/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/8/img-m.jpg 1x, ./images/Gallery/8/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/8/img-s.webp 1x, ./images/Gallery/8/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/8/img-s.jpg 1x, ./images/Gallery/8/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/8/img-s.jpg" alt="Dog eats icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column7 gallery-item--row3-5">
                <picture>
                    <source srcset="./images/Gallery/10/img-l.webp 1x, ./images/Gallery/10/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/10/img-l.jpg 1x, ./images/Gallery/10/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/10/img-m.webp 1x, ./images/Gallery/10/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/10/img-m.jpg 1x, ./images/Gallery/10/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/10/img-s.webp 1x, ./images/Gallery/10/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/10/img-s.jpg 1x, ./images/Gallery/10/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/10/img-s.jpg" alt="Icecream in a cup"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column2 gallery-item--row5-7">
                <picture>
                    <source srcset="./images/Gallery/3/img-l.webp 1x, ./images/Gallery/3/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/3/img-l.jpg 1x, ./images/Gallery/3/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/3/img-m.webp 1x, ./images/Gallery/3/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/3/img-m.jpg 1x, ./images/Gallery/3/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/3/img-s.webp 1x, ./images/Gallery/3/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/3/img-s.jpg 1x, ./images/Gallery/3/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/3/img-s.jpg" alt="Raspberry icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column3 gallery-item--row6-8">
                <picture>
                    <source srcset="./images/Gallery/5/img-l.webp 1x, ./images/Gallery/5/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/5/img-l.jpg 1x, ./images/Gallery/5/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/5/img-m.webp 1x, ./images/Gallery/5/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/5/img-m.jpg 1x, ./images/Gallery/5/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/5/img-s.webp 1x, ./images/Gallery/5/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/5/img-s.jpg 1x, ./images/Gallery/5/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/5/img-s.jpg" alt="Girl with icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column5 gallery-item--row5-7">
                <picture>
                    <source srcset="./images/Gallery/7/img-l.webp 1x, ./images/Gallery/7/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/7/img-l.jpg 1x, ./images/Gallery/7/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/7/img-m.webp 1x, ./images/Gallery/7/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/7/img-m.jpg 1x, ./images/Gallery/7/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/7/img-s.webp 1x, ./images/Gallery/7/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/7/img-s.jpg 1x, ./images/Gallery/7/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/7/img-s.jpg" alt="Icecream in the hand"
                        loading="lazy" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--column6 gallery-item--row4-6">
                <picture>
                    <source srcset="./images/Gallery/9/img-l.webp 1x, ./images/Gallery/9/img-l@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/9/img-l.jpg 1x, ./images/Gallery/9/img-l@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
                    <source srcset="./images/Gallery/9/img-m.webp 1x, ./images/Gallery/9/img-m@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/9/img-m.jpg 1x, ./images/Gallery/9/img-m@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)" />
                    <source srcset="./images/Gallery/9/img-s.webp 1x, ./images/Gallery/9/img-s@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="./images/Gallery/9/img-s.jpg 1x, ./images/Gallery/9/img-s@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
                    <img class="gallery__img" src="./images/Gallery/9/img-s.jpg" alt="Icecream in the cup"
                        loading="lazy" />
                </picture>
            </li>
        </ul>
    </div>
</section>