
<header class="header">
    <div class="header__container">
        <div class="header__body">
        <a href="/" class="logo decoration" >
            <img src="../src/images/HeroHeader/mobail/Hero_header1_png.png" alt="">
        </a>
        <div class="header__burger 
        ">
            <span class="burger"></span>
        </div>
    
        <nav class="header__menu">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link">Home</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">About us</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">How it’s made?</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">Our products</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="header__button " type="button"><span class="button__text">Buy
                now</span> </button>
    </div>
    </div>
<div class="mob-menu ">
   <div class="mob-menu__container">
       <div class="mob-menu__top">
        <button class="mob_button" type="button"><span class="button__text">Buy
                now</span> </button>
        <ul class="mob-menu__list">
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Home</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">About us</a>
            </li>
            <li class="mob-menu__item"><a href="" class="mob-menu__link ">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Our products</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Contact</a>
            </li>
        </ul>
       </div>
   </div> 
</div>
</header>
<div class="content">
    <div class="container">
        <div class="content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus modi commodi rem maiores aliquid iste facere magni repellat culpa! Rem, nemo consectetur? Nam sit corrupti, repellat cumque ipsa corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet earum doloremque ipsam mollitia officiis neque, corporis non tempore velit voluptates qui, quasi quae totam voluptatum, harum explicabo. Suscipit, ullam accusamus?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique quod eaque placeat. Asperiores veniam maiores et aspernatur dolor eum aperiam cumque sapiente dolorem rerum eaque explicabo facilis placeat, veritatis a!logolo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic expedita rem commodi qui, magni culpa quibusdam! Excepturi pariatur autem quo! Placeat consequatur tempore blanditiis iusto doloribus cupiditate delectus laudantium minima!logololo
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ut dolores, dolorum recusandae officiis, culpa veniam laborum maiores, inventore corporis voluptatibus odio obcaecati asperiores? Doloribus provident explicabo quas harum consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio magnam id impedit alias fugit, repudiandae magni dolorum rem ullam vel odit laborum vitae reprehenderit tenetur quasi eos eligendi similique?
        </div>
        <div class="content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus modi commodi rem maiores aliquid iste facere
            magni repellat culpa! Rem, nemo consectetur? Nam sit corrupti, repellat cumque ipsa corporis. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Amet earum doloremque ipsam mollitia officiis neque, corporis non tempore velit
            voluptates qui, quasi quae totam voluptatum, harum explicabo. Suscipit, ullam accusamus?Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Similique quod eaque placeat. Asperiores veniam maiores et aspernatur dolor eum
            aperiam cumque sapiente dolorem rerum eaque explicabo facilis placeat, veritatis a!logolo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic expedita rem commodi qui, magni culpa quibusdam!
            Excepturi pariatur autem quo! Placeat consequatur tempore blanditiis iusto doloribus cupiditate delectus laudantium
            minima!logololo
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ut dolores, dolorum recusandae officiis, culpa veniam
            laborum maiores, inventore corporis voluptatibus odio obcaecati asperiores? Doloribus provident explicabo quas harum
            consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio magnam id impedit alias
            fugit, repudiandae magni dolorum rem ullam vel odit laborum vitae reprehenderit tenetur quasi eos eligendi
            similique?
        </div>
        <div class="content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus modi commodi rem maiores aliquid iste facere
            magni repellat culpa! Rem, nemo consectetur? Nam sit corrupti, repellat cumque ipsa corporis. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Amet earum doloremque ipsam mollitia officiis neque, corporis non tempore velit
            voluptates qui, quasi quae totam voluptatum, harum explicabo. Suscipit, ullam accusamus?Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Similique quod eaque placeat. Asperiores veniam maiores et aspernatur dolor eum
            aperiam cumque sapiente dolorem rerum eaque explicabo facilis placeat, veritatis a!logolo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic expedita rem commodi qui, magni culpa quibusdam!
            Excepturi pariatur autem quo! Placeat consequatur tempore blanditiis iusto doloribus cupiditate delectus laudantium
            minima!logololo
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ut dolores, dolorum recusandae officiis, culpa veniam
            laborum maiores, inventore corporis voluptatibus odio obcaecati asperiores? Doloribus provident explicabo quas harum
            consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio magnam id impedit alias
            fugit, repudiandae magni dolorum rem ullam vel odit laborum vitae reprehenderit tenetur quasi eos eligendi
            similique?
        </div>
        <div class="content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ducimus modi commodi rem maiores aliquid iste facere
            magni repellat culpa! Rem, nemo consectetur? Nam sit corrupti, repellat cumque ipsa corporis. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Amet earum doloremque ipsam mollitia officiis neque, corporis non tempore velit
            voluptates qui, quasi quae totam voluptatum, harum explicabo. Suscipit, ullam accusamus?Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Similique quod eaque placeat. Asperiores veniam maiores et aspernatur dolor eum
            aperiam cumque sapiente dolorem rerum eaque explicabo facilis placeat, veritatis a!logolo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic expedita rem commodi qui, magni culpa quibusdam!
            Excepturi pariatur autem quo! Placeat consequatur tempore blanditiis iusto doloribus cupiditate delectus laudantium
            minima!logololo
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ut dolores, dolorum recusandae officiis, culpa veniam
            laborum maiores, inventore corporis voluptatibus odio obcaecati asperiores? Doloribus provident explicabo quas harum
            consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio magnam id impedit alias
            fugit, repudiandae magni dolorum rem ullam vel odit laborum vitae reprehenderit tenetur quasi eos eligendi
            similique?
        </div>
    </div>
</div>