


<header class="header">
    <div class="header__container container">
        <div class="header__body">
        <a href="/" class="logo decoration" >
            <img src="../src/images/HeroHeader/mobail/Hero_header1_png.png" alt="">
        </a>
        <div class="header__burger">
            <span class="burger"></span>
        </div>
    <div class="header__wrapper">
        
    
        <nav class="header__menu">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link">Home</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">About us</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">How it’s made?</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">Our products</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="header__button" type="button"><span class="button__text">Buy
                now</span>
        </button>
    </div>
    </div>
    </div>

    <!-- <section class="mobileMenu mob-menu"> -->
        <div class="mobileMenu__container mob-menu">
            <!-- <button class="mobileMenu__button">X
                <svg class="mobileMenu__buttonClose" width="14" height="14">
                    <use href=""></use>
                </svg>
            </button> -->
            <button class="mobileMenu__buttonBuyNow buttonMenu" type="button"><span class="buttonMenu__text">Buy now</span>
            </button>
            <nav class="mobileMenu__nav">
                <div class="mobileMenu__navBloc">
                    <ul class="mobileMenu__list">
                        <li class="mobileMenu__item"><a class="mobileMenu__link" href="#Home">Home</a></li>
                        <li class="mobileMenu__item"><a class="mobileMenu__link" href="#AboutUs">About us</a></li>
                        <li class="mobileMenu__item"><a class="mobileMenu__link" href="#HowItsMade">How it’s made?</a>
                        </li>
                        <li class="mobileMenu__item"><a class="mobileMenu__link" href="#OurProducts">Our products</a>
                        </li>
                        <li class="mobileMenu__item"><a class="mobileMenu__link" href="#Contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        </header>
    <!-- </section> -->


<!-- <div class="mob-menu ">
   <div class="mob-menu__container">
       <div class="mob-menu__top">
        <button class="mob_button" type="button"><span class="button__text">Buy
                now</span> </button>
        <ul class="mob-menu__list">
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Home</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">About us</a>
            </li>
            <li class="mob-menu__item"><a href="" class="mob-menu__link ">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Our products</a>
            </li>
            <li class="mob-menu__item">
                <a href="" class="mob-menu__link ">Contact</a>
            </li>
        </ul>
       </div>
   </div> 
</div>-->





       


