



        <header class="header">
            <div class="header__container container">
                <div class="header__body">
                <a href="/" class="logo decoration" >
                    <img src="../src/images/HeroHeader/mobail/Hero_header1_png.png" alt="">
                </a>
            <div class="header__wrapper">
                <div class="header__burger">
                    <span class="burger"></span>
                </div>
            
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="" class="header__link">Home</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">About us</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">How it’s made?</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Our products</a> 
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Contact</a>
                        </li>
                    </ul>
                </nav>
                <button class="header__button" type="button"><span class="button__text">Buy
                        now</span>
                </button>
            </div>
            </div>
            </div>
        
            
                <div class="mobileMenu__container mob-menu">

                    <button class="mobileMenu__buttonBuyNow buttonMenu" type="button"><span class="buttonMenu__text">Buy now</span>
                    </button>
                    <nav class="mobileMenu__nav">
                        <div class="mobileMenu__navBloc">
                            <ul class="mobileMenu__list">
                                <li class="mobileMenu__item"><a class="mobileMenu__link" href="#Home">Home</a></li>
                                <li class="mobileMenu__item"><a class="mobileMenu__link" href="#AboutUs">About us</a></li>
                                <li class="mobileMenu__item"><a class="mobileMenu__link" href="#HowItsMade">How it’s made?</a>
                                </li>
                                <li class="mobileMenu__item"><a class="mobileMenu__link" href="#OurProducts">Our products</a>
                                </li>
                                <li class="mobileMenu__item"><a class="mobileMenu__link" href="#Contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
         
        
        

        </header>






<hero>
    <section class="hero_bg">
        <div class="container hero__container">
            <div class="hero ">

                <picture>
                    <img src="../src/images/HeroHeader/mobail/Hero_header3_png.png" alt=""
                        class="hero__img-circle--mob ">
                    <img src="../src/images/HeroHeader/mobail/Hero_header2_png.png" alt=""
                        class="hero__img-icecream--mob ">

                    <img src="../src/images/HeroHeader/tablet/Hero_header5_png_tablet.png" alt=""
                        class="hero__img-circle--tab ">
                    <img src="../src/images/HeroHeader/tablet/Hero_header3_png_tablet.png" alt=""
                        class="hero__img-icecream--tab ">

                    <img src="../src/images/HeroHeader/desktop/Hero_header5_png_desktop.png" alt=""
                        class="hero__img-circle--desktop ">
                    <img src="../src/images/HeroHeader/desktop/Hero_header1-png-desktop.png" alt=""
                        class="hero__img-icecream--desktop ">
                </picture>

                <h1 class="header__title">ice cream made with <span class="header__span">passion</span> </h1>

                <div class="header__buttons">
                    <button type="button" class="header__btn">Products</button>
                    <button type="button" class="header__btn header__btn--bg">How it’s made?</button>
                </div>


                <div class="hero__box--tab">
                    <img src="../src/images/HeroHeader/tablet/Hero_header2_png_tablet.png" alt=""
                        class="hero__img-milk--tab">
                    <img src="../src/images/HeroHeader/desktop/Hero_header4_png_desktop.png" alt=""
                        class="hero__img-milk--desktop">
                    <div class="hero__milk--tab">
                        <p class="hero__text--tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et</p>
                        <span class="hero__circle--tab"></span>
                    </div>

                    <div class="hero__box-girls"></div>
                    <div class="hero__box-trucks"></div>
                    <div class="hero__box-cafe"></div>
                   



                </div>
            </div>
    </section>
</hero>
       


