<!-- БЭКДРОП ОБЩИЙ-->
<div class="overlay" id="overlay-modal"></div>

<!-- МОДАЛЬНОЕ ОКНО buy now-->
<div class="modal js-modal" data-modal="order-form">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">КУПИ МЕНЯ</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="process-description">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">ПРОЧТИ МЕНЯ</p>
  <p class="modal__text">
    PROCESS. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem
    soluta minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia
    eaque deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque
    rerum mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО our locations-->
<div class="modal modal__contacts js-modal" data-modal="locations">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title-map">Believe me. We are on this map!</p>
  <div class="img-map"></div>
  <!-- <p class="modal__text">
    POINTS. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem
    soluta minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia
    eaque deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque
    rerum mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p> -->
</div>

<!-- МОДАЛЬНОЕ ОКНО franchise-->
<div class="modal modal__franchise js-modal" data-modal="franchise">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <!-- <p class="modal__title">ПРОВЕРЬ МЕНЯ</p> -->
  <div class="img-franchise"></div>
  <!-- <p class="modal__text">
    DOCUMENTS. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem
    soluta minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia
    eaque deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque
    rerum mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p> -->
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-1">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">CREAM</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-2">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">COFFEE</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-3">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">MILKSHAKES</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<script src="./js/modal.js"></script>
