<!-- БЭКДРОП ОБЩИЙ-->
<div class="overlay" id="overlay-modal"></div>

<!-- МОДАЛЬНОЕ ОКНО buy now-->
<div class="modal js-modal" data-modal="order-form">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">КУПИ МЕНЯ</p>
  <p class="modal__text">
    ORDER. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati adipisci soluta
    non, praesentium, ad hic quasi assumenda dolorem culpa facere! Dolor laboriosam facilis veniam
    sapiente deleniti veritatis culpa quis?
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="process-description">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">ПРОЧТИ МЕНЯ</p>
  <p class="modal__text">
    PROCESS. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem
    soluta minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia
    eaque deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque
    rerum mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО our locations-->
<div class="modal modal__contacts js-modal" data-modal="locations">
  <svg class="modal__cross-locations js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-cross"></use>
  </svg>

  <p class="modal__title-map">Believe me. We are on this map!</p>
  <div class="img-map"></div>
  <ul class="modal-contacts__list">
    <li class="modal-contacts__item">
      <svg class="modal__cross-map">
        <use href="images/svg/symbol-defs.svg#icon-location"></use>
      </svg>
      <a
        class="modal-contacts__link"
        href="https://goo.gl/maps/pkzR3NxY3b2wH7Bn8"
        target="_blank"
        rel="noopener noreferrer"
        >Chicago</a
      >
    </li>
    <li class="modal-contacts__item">
      <a
        class="modal-contacts__link"
        href="https://goo.gl/maps/SEXunPSWtEWmiHJK8"
        target="_blank"
        rel="noopener noreferrer"
        >Los Angeles</a
      >
    </li>
    <li class="modal-contacts__item">
      <a
        class="modal-contacts__link"
        href="https://goo.gl/maps/cFpYq9vFUaaS78iV6"
        target="_blank"
        rel="noopener noreferrer"
        >New York</a
      >
    </li>
  </ul>
</div>

<!-- МОДАЛЬНОЕ ОКНО franchise-->
<div class="modal modal__franchise js-modal" data-modal="franchise">
  <svg class="modal__cross-franchise js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-cross"></use>
  </svg>

  <!-- <p class="modal__title">ПРОВЕРЬ МЕНЯ</p> -->
  <div class="img-franchise"></div>
  <!-- <p class="modal__text">
    DOCUMENTS. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem
    soluta minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia
    eaque deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque
    rerum mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p> -->
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-1">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">CREAM</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-2">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">COFFEE</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dignissimos dolorem soluta
    minima quibusdam earum numquam nisi ab possimus assumenda, exercitationem quo mollitia eaque
    deleniti placeat repellat aspernatur ipsam quasi. Officiis numquam, deserunt, aut atque rerum
    mollitia totam aliquid animi tempore accusamus ullam perspiciatis corporis impedit sunt.
    Incidunt, porro harum.
  </p>
</div>

<!-- МОДАЛЬНОЕ ОКНО read more-->
<div class="modal js-modal" data-modal="product-description-3">
  <svg class="modal__cross js-modal-close">
    <use href="images/svg/symbol-defs.svg#icon-close"></use>
  </svg>

  <p class="modal__title">MILKSHAKES</p>
  <p class="modal__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, minus! Deleniti perferendis
    repudiandae quis delectus perspiciatis impedit hic neque labore.
  </p>
</div>

<script src="./js/modal.js"></script>
