<section class="products">
    <div class="products-container container">
        <p class="pre-title">100% natural</p>
    <h2 class="products_title">products</h2>
    <ul class="icecream_list">
        <li class="icecream_item">
            <h3 class="icecream_title">ice cream</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        <li class="icecream_item">
            <h3 class="icecream_title">ice cream</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        <li class="icecream_item">
            <h3 class="icecream_title">ice cream</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        </ul>
    </div>
</section>