<section class="container">
    <div class="pre-title">100% natural</div>
    <h1 class="products">products</h1>
    <ul class="icecream_list">
        <li class="icecream_item">
            <div class="icecream_wrap">
                <!-- <img src="./image/ice-1.png" alt="морозиво"> -->
            </div>
            <h2 class="icecream_title">ice cream</h2>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        <li class="icecream_item">
            <div class="icecream_wrap">
                <!-- <img src="./image/ice-1.png" alt="морозиво"> -->
            </div>
            <h2 class="icecream_title">ice cream</h2>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        <li class="icecream_item">
            <div class="icecream_wrap">
                <!-- <img src="./image/ice-1.png" alt="морозиво"> -->
            </div>
            <h2 class="icecream_title">ice cream</h2>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="icecream_btn"></button>
        </li>
        </ul>
</section>