<section class="products" id="OurProducts">
    <div class="products-container container">
        <p class="pre-title">100% natural</p>
    <h2 class="products_title">products</h2>
    <ul class="icecream_list">
        <li class="icecream_item cream">
            <h3 class="icecream_title icecream">ice cream</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="icecream_text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button 
            type="button" 
            class="icecream-btn js-open-modal blink" 
            data-modal="product-description-1">
                    <svg class="isecream-btn_icon" height="10" width="10">
                    <use href="./images/svg/symbol-defs.svg#icon-arrow-right2"></use>
                </svg>
            </button>
        </li>
        <li class="icecream_item cofee">
            <h3 class="icecream_title icecoffe">ice coffee</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="icecream_text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button 
            type="button" 
            class="icecream-btn js-open-modal blink" 
            data-modal="product-description-2">
                <svg class="isecream-btn_icon" height="10" width="10">
                <use href="./images/svg/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
        </button>
        </li>
        <li class="icecream_item milkshakes_item">
            <h3 class="icecream_title milkshakes">milkshakes</h3>
            <p class="icecream_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="icecream_text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button 
            type="button" 
            class="icecream-btn js-open-modal blink" 
            data-modal="product-description-3">
                <svg class="isecream-btn_icon" height="10" width="10">
                <use href="./images/svg/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
        </button>
        </li>
        </ul>
    </div>
</section>